/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --animate-snow-1: animate-snow-1 5s infinite ease-in-out;
  --animate-snow-2: animate-snow-2 5s infinite ease-in-out;
